In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import linear_model as lm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

from statsmodels.tools.eval_measures import mse, rmse

ModuleNotFoundError: No module named 'sklearn'

In [2]:
df = pd.read_csv("winsorized_data.csv")

# Machine Learning

In [34]:
df.head()

,Unnamed: 0,country,year,status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,...,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness_10-19_years,thinness_5-9_years,income_composition_of_resources,schooling
0,0,Afghanistan,2015,Developing,65.0,263.0,62.000000,0.010000,71.279624,65.0,...,52.0,8.16,65.0,0.1,584.259210,2.865628e+07,15.3,15.5,0.479,10.1
1,16,Albania,2015,Developing,77.8,74.0,35.129032,4.600000,364.975229,99.0,...,99.0,6.00,99.0,0.1,3954.227830,2.887300e+04,1.2,1.3,0.762,14.2
2,32,Algeria,2015,Developing,75.6,19.0,21.000000,5.288333,0.000000,95.0,...,95.0,7.08,95.0,0.1,4132.762920,2.865628e+07,6.0,5.8,0.743,14.4
3,48,Angola,2015,Developing,54.8,335.0,66.000000,5.288333,0.000000,64.0,...,52.0,7.08,64.0,1.8,3695.793748,2.785935e+06,8.3,8.2,0.531,11.4
4,64,Antigua and Barbuda,2015,Developing,76.4,13.0,35.129032,5.288333,0.000000,99.0,...,86.0,7.08,99.0,0.2,13566.954100,1.109741e+07,3.3,3.3,0.784,13.9

In [35]:
df.set_index('Unnamed: 0', inplace=True)
df.index.names = ['']

In [36]:
df.head()

,country,year,status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,...,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness_10-19_years,thinness_5-9_years,income_composition_of_resources,schooling
,,,,,,,,,,,,,,,,,,,,,
0,Afghanistan,2015,Developing,65.0,263.0,62.000000,0.010000,71.279624,65.0,831,...,52.0,8.16,65.0,0.1,584.259210,2.865628e+07,15.3,15.5,0.479,10.1
16,Albania,2015,Developing,77.8,74.0,35.129032,4.600000,364.975229,99.0,0,...,99.0,6.00,99.0,0.1,3954.227830,2.887300e+04,1.2,1.3,0.762,14.2
32,Algeria,2015,Developing,75.6,19.0,21.000000,5.288333,0.000000,95.0,63,...,95.0,7.08,95.0,0.1,4132.762920,2.865628e+07,6.0,5.8,0.743,14.4
48,Angola,2015,Developing,54.8,335.0,66.000000,5.288333,0.000000,64.0,118,...,52.0,7.08,64.0,1.8,3695.793748,2.785935e+06,8.3,8.2,0.531,11.4
64,Antigua and Barbuda,2015,Developing,76.4,13.0,35.129032,5.288333,0.000000,99.0,0,...,86.0,7.08,99.0,0.2,13566.954100,1.109741e+07,3.3,3.3,0.784,13.9

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2938 entries, 0 to 2937
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          2938 non-null   object
 1   year                             2938 non-null   int64
 2   status                           2938 non-null   object
 3   life_expectancy                  2938 non-null   float64
 4   adult_mortality                  2938 non-null   float64
 5   infant_deaths                    2938 non-null   float64
 6   alcohol                          2938 non-null   float64
 7   percentage_expenditure           2938 non-null   float64
 8   hepatitis_b                      2938 non-null   float64
 9   measles                          2938 non-null   int64
 10  under-five_deaths                2938 non-null   float64
 11  polio                            2938 non-null   float64
 12  total_expenditure                2938 non-null   float64
 13  diphtheria                       2938 non-null   float64
 14  hiv/aids                         2938 non-null   float64
 15  gdp                              2938 non-null   float64
 16  population                       2938 non-null   float64
 17  thinness_10-19_years             2938 non-null   float64
 18  thinness_5-9_years               2938 non-null   float64
 19  income_composition_of_resources  2938 non-null   float64
 20  schooling                        2938 non-null   float64
dtypes: float64(17), int64(2), object(2)
memory usage: 505.0+ KB

In [38]:
df._get_numeric_data().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2938 entries, 0 to 2937
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   year                             2938 non-null   int64
 1   life_expectancy                  2938 non-null   float64
 2   adult_mortality                  2938 non-null   float64
 3   infant_deaths                    2938 non-null   float64
 4   alcohol                          2938 non-null   float64
 5   percentage_expenditure           2938 non-null   float64
 6   hepatitis_b                      2938 non-null   float64
 7   measles                          2938 non-null   int64
 8   under-five_deaths                2938 non-null   float64
 9   polio                            2938 non-null   float64
 10  total_expenditure                2938 non-null   float64
 11  diphtheria                       2938 non-null   float64
 12  hiv/aids                         2938 non-null   float64
 13  gdp                              2938 non-null   float64
 14  population                       2938 non-null   float64
 15  thinness_10-19_years             2938 non-null   float64
 16  thinness_5-9_years               2938 non-null   float64
 17  income_composition_of_resources  2938 non-null   float64
 18  schooling                        2938 non-null   float64
dtypes: float64(17), int64(2)
memory usage: 459.1 KB